<?xml version="1.0"?>
<ruleset name="Temosh">
    <description>The coding standard for Temosh app.</description>

    <!-- Check all application directory -->
    <file>.</file>
    <!-- Exclude vendor dirs -->
    <exclude-pattern>*/vendor/*</exclude-pattern>

    <!-- Check only php files -->
    <arg name="extensions" value="php"/>
    <!-- Enable color output -->
    <arg name="colors"/>
    <!-- Enable progress -->
    <arg value="p"/>
    <!-- Disable warnings (temporary) -->
    <arg value="n"/>

    <!-- Include the whole PSR2 standard -->
    <rule ref="PSR2"/>
</ruleset>
